body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5dc;
}

header {
    background-color: #6a994e;
    padding: 20px;
    color: white;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.shop-btn {
    background-color: #ffcc00;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
